* {
    margin: 0;
    padding: 0;
}
/*this section of code is written to display the background, logo, and menu section off the website*/
body {
    width: 100%;
    height: 75vh;
    background-image:url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.NavigationBar {
    width: 90%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    width: 300px;
    cursor: pointer;
}
.NavigationBar ul li {
    list-style: none;
    display: inline-block;
    margin:0 40px;
    position: relative;
}
.NavigationBar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
/*this section off code shows user a pointing indication when they hover over a menu*/
.NavigationBar ul li::after{
    content: '';
    height: 6px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
}
.NavigationBar ul li:hover::after{
    width: 100%;
}
/*setting the spacing for the category margins*/
.Intro{
    margin: 70px 0;
}
.Int-3{
    flex-basis:60%;
    min-width: 40px;
    margin-bottom: -100px;
}
.Int-3 img{
    width: "400";
    padding-left: 100px;

}
.container{
    position:absolute;
    margin-bottom: center;
    padding-left: 15px;
    padding-right: 15px;
    bottom:-200px;
    display: inline-block;
    background-blend-mode: normal;
}
.row{
    display: flex
}
.column{
    flex:40%;
    padding:30px;
    column-gap:30px;
}
.Int-2{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.Int-2 img{
    width: 100%;
}
.welcome{
    width: 90%;
    color: #000000;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

.welcome button{
    background-color:#000000;
    font-family:Times New Roman;
    color:red;
    border-radius: 50px 0;
    padding:13px 30px;
}
.welcome h1{
    font-family: Times New Roman;
    font-size: 30px;
    font-color: #000000;
}

